@charset "UTF-8";
header {

}
html {
    font-size: 100%;
}
body {
    background-color: #f0dada;
    background-image: url(image/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 2rem;
    font-family: "Arial";
    text-align: center;
    color: aliceblue;
    background-color: #333333;
}
h2 {
    font-size: 20px;
    text-align: center;
}
h3 {
    font-size: 18px;
    text-align: center;
}
p {
    font-size: 15px;
    font-family: "Arial";
    line-height: 0.5;
    text-align: center;
    color: #333333;
}
ul {
    list-style-type: none;
}